
.logo{
    width: 130px;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.aa{
    color: rgb(0, 0, 0);
    margin-left: 400px;
    font-size: 2rem;
    font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
   

}



body {
    background-color: #f8f8f8;
    
}

h1 {
    color: #e62626;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}


#imc-result {
    font-weight: bold;
}

.btn-primary {
    background-color: #007bff;
    margin-bottom: 20px;
}

.btn-primary:hover {
    background-color: #0056b3;
}



.text-center{

    color: #050505;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
       
}

.form-group{
    color: #101111;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

}

    .form-check{
    color: #000000;
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;

    }